.container{
    /* display: flex; */

    margin-top: 3rem;
    /* height: 500px; */
    width: 80%;
    /* border: 1px solid white; */
    margin-left: 10rem;
    margin-right: 8rem;
  
}
.logoutButton{
    background-color: #121212;
}
.create1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
form{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 1.5rem;
    align-items: center;
    margin-left: 6rem;
}
.create{
    text-align: center;
    font-size: 25px;
    color: white;

}
.first {
    background: #323232;
    border: none;
    padding: 10px 20px;
    width: 250px;
    height: 50px;
    margin: 20px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
}

@media screen and (max-width: 600px)  {
    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* margin-top: 1.5rem; */
        align-items: center;
        margin: 0px;
        /* margin-left: 6rem; */
    }
    .container{
        /* display: flex; */
    
        margin-top: 3rem;
        /* height: 500px; */
        width: 80%;
        margin: 50px;
        /* border: 1px solid white; */
        /* margin-left: 10rem; */
        /* margin-right: 8rem; */
      
    }
}